<div id="<%= dom_id ability %>">
  <p>
    <strong>Name:</strong>
    <%= ability.name %>
  </p>

  <p>
    <strong>Effect:</strong>
    <%= ability.effect %>
  </p>

  <p>
    <strong>Short effect:</strong>
    <%= ability.short_effect %>
  </p>

  <p>
    <strong>Generation:</strong>
    <%= ability.generation %>
  </p>

</div>
